.welcome {
    background-color: #E5E5E5;
}

.welcomeInner {
    font-size: 30px;
    display: flex;
    color: #0094BD;
}

.icon {
    height: 180px;
    margin-right: 30px;
}

.arrow {
    transform: rotate(-90deg);
    position: absolute;
    top: 100px;
    right: 20px;
}

@media screen and (max-width: 580px) {
    .welcome {
        display: initial;
    }
}