input.ng-touched.ng-invalid {
    border: 2px solid red;
}



.nav {
    height: 50px;
    background-color: #007BFF;
    color: #FFFFFF;
    display: flex;
    position: relative;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.authPanel {
    position: absolute;
    height: 50px;
    right: 10px;
}

.authPanelButton {
    border: none;
    outline: none;
    height: 50px;
    width: 100px;
    background-color: #007BFF;
    color: #FFFFFF;
}
    .authPanelButton:hover {
        border: 2px solid white;
        border-top: 0;
        border-bottom: 0;
    }

form {
    position: relative;
}

.formContainer {
    padding-top: 10px;
    position: absolute;
    right: 0px;
    width: 400px;
    background-color: deepskyblue;
    border: 8px solid #007BFF;
    border-top: 0;
    color: #FFFFFF;
    padding-bottom: 5px;
}

.inputBlock {
    display: flex;
    margin-bottom: 10px;
}

input {
    width: 250px;
    margin: 0;
}

.requiredSimbol {
    color: red;
    font-size: 25px;
}


.ValidationErrorBlock {
    color: red;
    background-color: white;
    border: 6px solid #007BFF;
}

ul {
    padding-left: 30px;
}

.formButton {
    margin-bottom: 10px;
}

