.nav {
    height: 50px;
    background-color: #007BFF;
    color: #FFFFFF;
    display: flex;
    position: relative;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.authPanel {
    position: absolute;
    height: 50px;
    right: 10px;
}

.authPanelButton {
    border: none;
    outline: none;
    height: 50px;
    width: 100px;
    background-color: #007BFF;
    color: #FFFFFF;
}
    .authPanelButton:hover {
        border: 2px solid white;
        border-top: 0;
        border-bottom: 0;
    }

form {
    position: relative;
}

.formContainer {
    padding-top: 10px;
    position: absolute;
    right: 0px;
    width: 400px;
    background-color: deepskyblue;
    border: 8px solid #007BFF;
    border-top: 0;
    color: #FFFFFF;
}

input {
    width: 250px;
}

.formButton {
    margin-bottom: 10px;
}

